.container{
  background-color: lightgray;
  width: 100%;
  border-radius: 20px;
  border-width: 3px;
  border-style: dotted;
  margin: 30px;
}
.temp-img{
  width: 65px;
  margin: 0px;
  padding: 0px;
}
.actual-temp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.span-desc{
  margin: 0px;
  font-size: 8px;
}
.image-temp{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp-details{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.temp{
  width: 80%;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
}
.temp-celcius{
  text-align: center;
  font-size: 65px;
  margin-right: 5px;
  margin: 0px;
}
.temp-head{
  font-size: 20px;
  margin: 0px;
}
.temp-para{
  font-size: 14px;
  color: gray;
  margin: 0px;
}
.form-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.heading{
  font-family: sans-serif;
  text-align: center;
}
.input-text{
  background-color: lightblue;
  border-width: 0px;
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  height: 30px;
  margin-right: 30px;
}
button{
  background-color: lightseagreen;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  color: white;
}